@import '../../css/normalize.css';
@import '../../css/acsset.css';

body {
  margin: 3.75em 0;
  background: url(./background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  background-color: rgba(255, 255, 255, 0.96);
}